    {% extends 'base.html' %}
        {% block head %}
            <title>
            uczniowski.pl
            </title>
         {% endblock %}


    {% block content %}

<div class="section-0">
        <div class="container text-center">
              <div class="row">
                  <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12 text-white">
                  <h6>PREZENTUJEMY CAŁKOWICIE</h6>
                  <h1>UCZNIOWSKI <br> RANKING</h1>
                    <h6>WARSZAWSKICH SZKÓŁ ŚREDNICH</h6>
                    <h6>ZEBRANE GŁOSY:</h6>
                    <h1 class="votes">1234</h1>



                </div>
                  <div class="col-md-3"></div>
              </div>
        </div>
    </div>
{##}
{#<div class="row">#}
{#  <div class="col-12 col-lg-6">#}
{#    <div class="card card-about card-section-2">#}
{#      <div class="card-body text-center">#}
{#        <h4>O projekcie</h4>#}
{#          <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
{#                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris#}
{#                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in#}
{#                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla#}
{#                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa#}
{#                        qui officia deserunt mollit anim id est laborum.</h5>#}
{#      </div>#}
{#        <p><img src="https://imgbbb.com/images/2019/08/22/o-projekcie-no-size-4.png" alt="">#}
{##}
{#        </p>#}
{#        <div class="text-about">#}
{#          <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
{#                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris#}
{#                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in#}
{#                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla#}
{#                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa#}
{#                        qui officia deserunt mollit anim id est laborum.</h5>#}
{##}
{#        </div>#}
{#    </div>#}
{#  </div>#}
{#  <div class="col-12 col-lg-6">#}
{#    <div class="card card-section-2">#}
{#      <div class="card-body">#}
{#          <button class="see-button">Zobacz</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{##}
{#<div class="row">#}
{#  <div class="col-12 col-lg-6">#}
{#    <div class="card card-section-2">#}
{#      <div class="card-body">#}
{#        <iframe width="420" height="315"#}
{#                             src="https://www.youtube.com/embed/tgbNymZ7vqY" id="video"></iframe>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#  <div class="col-12 col-lg-6">#}
{#    <div class="card card-section-2">#}
{#      <div class="card-body">#}
{#          <button class="see-button">Głosuj</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
    <section class="buttons-section justify-content-center">
    {#<div class="container justify-content-center">#}
        <h2 class="text-white mt-0 btn-header">Dołóż swoją cegiełkę</h2>
        <hr class="divider border-white my-4">
    {#</div>#}
    <div class="container">
      <div class="row">
          <div class="col-md-6 jumbo-wrapper">
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#" role="button">Zagłosuj</a>
              <div class="jumbo-wrapper-2">
              <h4 class="text-white-50 mb-4 button-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </h4>
                  </div>
          </div>
          <div class="col-md-6 jumbo-wrapper d-flex align-items-center">
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#" role="button">Zobacz</a>
              <div class="jumbo-wrapper-2">
              <h4 class="text-white-50 mb-4 button-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </h4>
                  </div>
          </div>
      </div>
    </div>
    </section>


        <section class="about-section justify-content-center">
            <h2 class="about-header">O projekcie</h2>
            <hr class="divider border-orange">
            <div class="container">
               <div class="row justify-content-center">
                   <div class="col-lg-8 text-center">

                       <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                           qui officia deserunt mollit anim id est laborum.</p>
                       <a class="btn btn-xl js-scroll-trigger btn-more-about" href="#" role="button">Dowiedz się więcej</a>

                   </div>
               </div>
            </div>
        </section>



     <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Nasz zespół:</h1>
      </div>
      <div class="team row ">
        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="https://media.gettyimages.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?s=612x612" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Alexander Golys</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                    minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                  </p>
                  <p class="text-black-50">CEO</p>
                </div>
              </div>
        </div>


        <div class="col-md-4 col-12">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner text-center shadow-lg">
                  <div class="carousel-item active shadow-lg">
                    <div class="card mr-2 d-inline-block shadow-lg">
                      <div class="card-img-top">
                  <img src="https://media.gettyimages.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?s=612x612" class="img-fluid border-radius p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Jakub Łukasik</h3>
                        <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                          minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                        </p>
                        <p class="text-black-50">CTO</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>


        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="https://media.gettyimages.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?s=612x612" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Jan Kostrzewski</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                    minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                  </p>
                  <p class="text-black-50">Jakiś śmieć od marketingu</p>
                </div>
              </div>
        </div>
      </div>
     </section>

    {% endblock %}