    {% extends 'base.html' %}
        {% block head %}
            <title>
            uczniowski.pl
            </title>
         {% endblock %}


    {% block content %}
        <body>
<div class="section-0">
        <div class="container text-center">
              <div class="row">
                  <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12 text-white">
                  <h6>PREZENTUJEMY CAŁKOWICIE</h6>
                  <h1>UCZNIOWSKI <br> RANKING</h1>
                    <h6>WARSZAWSKICH SZKÓŁ ŚREDNICH</h6>
                    <h6>ZEBRANE GŁOSY:</h6>
                    <h1 class="votes">1234</h1>



                </div>
                  <div class="col-md-3"></div>
              </div>
        </div>
    </div>



{#        <div class="container-fluid block-2 p-5">#}
{#            <div class="row">#}
{#            <div class="col-md-6 col-sm-12 about-proj" >#}
{#                <h1>O PROJEKCIE</h1>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
{#                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut#}
{#                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in#}
{#                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint#}
{#                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit#}
{#                    anim id est laborum.</p>#}
{#            </div>#}
{#            <div class="col-md-6 col-sm-12 vote-grid">#}
{#                <h1>ZAGŁOSUJ</h1>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
{#                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut#}
{#                    aliquip ex ea commodo consequat. </p>#}
{#                <button class="vote-button">Zagłosuj</button>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-md-6 col-sm-12 video-grid">#}
{#               <div class="video-container"><iframe width="600" height="315" src="https://www.youtube.com/embed/z9Ul9ccDOqE" frameborder="0" allowfullscreen></iframe></div>#}
{#            </div>#}
{#            <div class="col-md-6 col-sm-12 see-grid">#}
{#                <h1>ZOBACZ</h1>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,#}
{#                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut#}
{#                    aliquip ex ea commodo consequat. </p>#}
{#                <button class="vote-button">Ranking</button>#}
{#            </div>#}
{#        </div>#}
{#        </div>#}
<main class="main">
<section class="homepage-section collection-module" data-module-template="promos" data-analytics-activitymap-region-id="promo" data-analytics-region="promo">

						<div class="" data-unit-id="about-project" data-analytics-section-engagement="name:about-project">
							<div class="unit-wrapper">
								<div class="unit-copy-wrapper">
										<h4 class="headline">O projekcie</h4>
											<h5 class="subhead" role="presentation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span class="footnote">*</span></h5>


									<div class="cta-links">

									</div>

								</div>
									<div class="unit-image-wrapper">
										<figure class="unit-image unit-image-iphone-promo-tile">
										</figure>
									</div>
							</div>
						</div>


						<div class="" data-unit-id="iphone-promo" data-analytics-section-engagement="name:promo-iphone-promo">

							<div class="unit-wrapper">
									<a class="unit-link" href="/us/shop/goto/trade_in" target="_self" rel="follow" data-analytics-region="buy" aria-hidden="true" tabindex="-1">&nbsp;</a>
								<div class="unit-copy-wrapper">
												<a id="vote-see-button-1" class="icon icon-after icon-chevronright headline" href="/us-hed/shop/back-to-school" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="Shop with education pricing for college" aria-label="Shop with education pricing for college">Zobacz</a>

								</div>
									<div class="unit-image-wrapper">
										<figure class="unit-image unit-image-zobacz">
										</figure>
									</div>
							</div>
						</div>

						<div class="" data-unit-id="bts" data-analytics-section-engagement="name:promo-bts">

							<div class="unit-wrapper">
								<div class="unit-copy-wrapper" id="video-container">
                                    <iframe width="420" height="315"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY" id="video">
                                    </iframe>
                                </div>

							</div>
						</div>

						<div class="" data-unit-id="iphone-promo" data-analytics-section-engagement="name:promo-iphone-promo">

							<div class="unit-wrapper">
									<a class="unit-link" href="/us/shop/goto/trade_in" target="_self" rel="follow" data-analytics-region="buy" aria-hidden="true" tabindex="-1">&nbsp;</a>
								<div class="unit-copy-wrapper">
												<a id="vote-see-button-2" class="icon icon-after icon-chevronright headline" href="/us-hed/shop/back-to-school" target="_self" rel="follow" data-analytics-region="learn more" data-analytics-title="Shop with education pricing for college" aria-label="Shop with education pricing for college">Zagłosuj</a>

								</div>
									<div class="unit-image-wrapper">
										<figure class="unit-image unit-image-zaglosuj">
										</figure>
									</div>
							</div>
						</div>
			</section>

     <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Nasz zespół:</h1>
      </div>
      <div class="team row ">
        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="https://media.gettyimages.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?s=612x612" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Alexander Golys</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                    minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                  </p>
                  <p class="text-black-50">CEO</p>
                </div>
              </div>
        </div>


        <div class="col-md-4 col-12">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner text-center shadow-lg">
                  <div class="carousel-item active shadow-lg">
                    <div class="card mr-2 d-inline-block shadow-lg">
                      <div class="card-img-top">
                  <img src="https://media.gettyimages.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?s=612x612" class="img-fluid border-radius p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Jakub Łukasik</h3>
                        <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                          minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                        </p>
                        <p class="text-black-50">CTO</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>


        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="https://media.gettyimages.com/photos/portrait-of-businessman-smiling-against-wall-picture-id878395336?s=612x612" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Jan Kostrzewski</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                    minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                  </p>
                  <p class="text-black-50">Jakiś śmieć od marketingu</p>
                </div>
              </div>
        </div>
      </div>
     </section>
</main>

    {% endblock %}